# Dependencies
node_modules/
package-lock.json

# Build
dist/
dist-ssr/

# Environment files (IMPORTANT - AWS keys nahi jani chahiye)
.env
.env.local
.env.production

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Terraform
terraform/.terraform/
terraform/terraform.tfstate*